<% if @arthist_flg.present? %>
  <div class="">
    アーティスト名：<%= link_to sing.arthist.name, arthist_path(sing.arthist) %>
  </div>
<% end %>

<div class="">
  <% if sing.video_flg == 1 %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= sing.link %>" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <% elsif sing.video_flg == 2 %>
    <%= render 'sings/instagram_link', sing: sing %>
  <% end %>
</div>

<% if current_user.present? && current_user.id == sing.user_id %>
  <%= link_to "削除", sing_path(sing), {method: :delete, data:{confirm: "削除しますか？"}} %>
<% end %>
