<div class="sings_container">
  <div class="sings_inner">
    <h1><%= @title %></h1>

    <div class="sings_items">
      <%= paginate @sings %>
      <%= render @sings %>
      <%= paginate @sings %>
    </div>
  </div>
</div>
