/*
 *= require_tree .
 *= require_self
 */

 @import 'font-awesome-sprockets';
 @import 'font-awesome';


 //**全体**

body{
 margin: 0;
 font-family: 'Lato', sans-serif;
}

li{
 list-style: none;
}

.message{
  width: 100%;
  font-size: 18px;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 10;
  text-align: center;
}

.flash-info{
  background-color: #9dd8f6;
}

.flash-success{
  background-color: #dbedb7;
}

.flash-danger{
  background-color: #df7474;
}

.error_container{
  background-color: #df7474;
}

.body_container{
 margin-top: 60px;
}

.link{
  text-decoration: none;
}

.link:hover{
  transition: 0.3s;
  cursor: pointer;
  opacity: 0.5;
}

.form_label{
  display: block;
}

.form_field{
  display: block;
  height: 25px;
  width: 100%;
  border-top: none;
  border-bottom: 1px solid #BBBBBB;
  border-left: none;
  border-right: none;
}

.form_field:focus{
  transition: 0.2s;
  border: 1.3px solid black;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

.btn:hover{
  cursor: pointer;
  opacity: 0.5;
}

.fa-heart{
  color: red;
}


//**header**

.header_container{
 background-color: black;
 height: 60px;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 z-index: 100;
}

.header_inner{
  display: flex;
}

.header_inner ul{
  line-height: 60px;
}

.header_inner li{
  display: inline-block;
  margin-right: 20px;
}

#mobile_container{
  display: block;
  background-color: black;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: none;
}

.fa-times {
  position: absolute;
  top: 55px;
  right: 10%;
  color: white;
  cursor: pointer;
}

.menu_btn{
  display: none;
}

.header_left{
  margin: 0 0 auto 20px;
}

.Top{
  font-size: 25px;
}

.header_center{
  margin: 0 0 auto 30px;
}

.header_right{
  margin: 0 70px auto auto;
}

.header_link{
  color: white;
}


//header_mobile

@media (max-width: 670px){
  .header_center, .header_right{
    display: none;
  }

  .header_left{
    margin-left: 0%;
  }

  .menu_btn{
    display: block;
    color: white;
    line-height: 60px;
    margin: 0 15px 0 auto;
  }

  #menu_btn:hover{
    transition: 0.3s;
    cursor: pointer;
    opacity: 0.7;
  }

  .mobile_link_wrapper{
    text-align: center;
    margin-top: 200px;
    font-size: 20px;
  }

  .mobile_link_wrapper li{
    margin-bottom: 30px;
  }

}



//**home**

.top_title_wrapper{
  text-align: center;
  height: 300px;
  padding-top: 240px;
}

.top_title{
  font-size: 50px;
}

.top_headline{
  margin-top: 50px;
  font-size: 20px;
}

.scroll_wrapper{
  height: 300px;
  padding-top: 45px;
  text-align: center;
}

.top_explaine_wrapper{
  margin-bottom: 150px;
}

.top_explaine_inner{
  text-align: center;
}

.top_explaine_paragragh{
  font-size: 30px;
  margin-bottom: 50px;
  font-weight: bold;
}

.step_wrapper{
  margin-bottom: 60px;
}

.step{
  font-size: 25px;
  font-weight: bold;
}

.explaine_warning{
  font-size: 13px;
  opacity: 0.7;
}

.top_btn{
  display: inline-block;
  width: 180px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  color: white;
  background-color: #444444;
  text-decoration: none;
}

.debut_wrappper{
  margin: 120px 0;
}


//home_mobile

@media (max-width: 670px){
  .top_title_wrapper{
    height: 300px;
    padding-top: 220px;
  }

  .top_headline{
    font-size: 12px;
  }

  .top_title{
    font-size: 50px;
  }

  .scroll_wrapper p{
    font-size: 13px;
  }

  .top_explaine_paragragh{
    font-size: 21px;
    margin-bottom: 30px;
    font-weight: bold;
  }

  .step{
    font-size: 20px;
  }

  .top_explaine_line{
    font-size: 14px;
  }

  .explaine_warning{
    font-size: 10px;
  }

  .top_btn{
    width: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 10px;
  }

  .debut_wrappper{
    margin: 120px 0;
  }
}




//**user session**

.signup_inner h1, .login_inner h1{
  text-align: center;
  margin-top: 135px;
}

.signup_modal, .login_modal{
  width: 380px;
  margin: 40px auto 0;
}

.signup_modal p{
  display: inline;
  opacity: 0.7;
  font-size: 13px;
  margin-left: 20px;
}

.signup_label, .login_label{
  margin-left: 20px;
  margin-top: 15px;
}

.login_checkbox{
  margin-left: 20px;
}

.signup_field, .login_field{
  margin: 0 auto;
  width: 350px;
  height: 30px;
  font-size: 20px;
}

.signup_btn, .login_btn{
  display: block;
  margin: 50px auto 0;
  width: 100%;
  padding: 5px 0;
  font-size: 15px;
}


//*user sessions_mobile*

@media (max-width: 670px){
  .signup_inner h1, .login_inner h1{
    font-size: 30px;
    margin-top: 150px;
  }

  .signup_modal, .login_modal{
    width: 270px;
    margin: 35px auto 0;
  }

  .signup_label, .login_label{
    font-size: 13px;
    margin-left: 8px;
    margin-top: 10px;
  }

  .signup_field, .login_field{
    width: 270px;
    font-size: 15px;
  }

  .login_password{
    margin-bottom: 10px;
  }

  .login_checkbox{
    margin-left: 8px;
  }

  .login_checkbox_label{
    font-size: 13px;
  }

  .signup_modal p{
    font-size: 10px;
    margin-left: 8px;
  }

  .signup_btn, .login_btn{
    margin: 30px auto 0;
    padding: 3px 0;
    font-size: 13px;
  }

}





//**arthist**

//*index*

.arthists_inner h1{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.arthists_debutBtn_wrapper{
  text-align: center;
}

.arthists_debutBtn{
  display: inline-block;
  padding: 10px 30px;
  border-radius: 15px;
  color: white;
  background-color: #444444;
  text-decoration: none;
}

.arthists_items{
  width: 1200px;
  margin: 50px auto 100px;
}

.arthists_item{
  display: inline-block;
  vertical-align: top;
  margin: 40px auto 40px 45px;
  text-align: center;
}

.arthists_image ,.arthist_image{
  width: 100%;
  height: auto;
}

.arthists_image:hover{
  transition: 0.3s;
  cursor: pointer;
  opacity: 0.5;
}

.arthists_arthistName_wrapper{
  width: 330px;
  height: 50px;
  margin: 0 auto;
}


//*index_mobile*

@media (max-width: 670px){
  .arthists_inner h1{
    font-size: 30px;
    margin-top: 150px;
  }

  .arthists_debutBtn{
    padding: 6px 15px;
    border-radius: 15px;
    font-size: 15px;
  }

  .arthists_items{
    width: auto;
    text-align: center;
    margin: 50px auto 80px;
  }

  .arthists_item{
    margin: 15px auto;
  }
}





//*show*

.arthist_show_wrapper{
  width: 650px;
  margin: 130px auto 0;
  position: relative;
}

.arthist_edit{
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(260px, 0);
  font-size: 20px;
}

.arthist_delete{
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(200px, 0);
  font-size: 20px;
}

.arthist_name_wrapper{
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.arthist_singName_wrapper{
  width: auto;
  margin: 0 auto;
}

.arthist_link_wrapper{
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.arthist_instagram_link{
  display: inline-block;
  margin-right: 20px;
}

.arthist_youtube_link{
  display: inline-block;
}

.arthist_sings{
  width: 1300px;
  margin: 50px auto 100px;
}


//*show_mobile*

@media (max-width: 670px){
  .arthist_show_wrapper{
    width: 70%;
    margin: 180px auto 0;
  }

  .arthist_edit{
    left: 85%;
    transform: translate(0, 0);
    font-size: 15px;
  }

  .arthist_delete{
    left: 70%;
    transform: translate(0, 0);
    font-size: 15px;
  }

  .arthist_name_wrapper{
    width: 100%;
    margin: 0 auto;
  }

  .arthist_arthistName{
    display: inline-block;
    text-align: left;
    font-size: 17px;
    word-break: break-all;
  }

  .arthist_sings{
    width: 85%;
    margin: 30px auto;
  }

  .arthist_singName_wrapper{
    width: 100%;
  }

  .arthist_singName{
    text-align: center;
    font-size: 14px;
    word-break: break-all;
  }

}





//*post*

.arthistPost_inner h1{
  text-align: center;
  margin-top: 130px;
}

.arthistPost_modal{
  margin-top: 80px;
}

.arthistPost_arthist{
  position: relative;
}

.arthistPost_label{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-165px, -35px);
}

.arthistPost_field{
  margin: 0 auto 60px;
  width: 350px;
  height: 30px;
  font-size: 20px;
}

.arthistPost_singName{
  position: relative;
}

.arthistPost_singLink{
  position: relative;
}

.arthist_btn{
  display: block;
  width: 350px;
  margin: 20px auto 0;
  font-size: 15px;
  padding: 5px 0;
}


//*post_mobile*

@media (max-width: 670px){
  .arthistPost_inner h1{
    font-size: 30px;
    margin-top: 150px;
  }

  .arthistPost_label{
    font-size: 13px;
    width: 270px;
    transform: translate(-130px, -25px);
  }

  .arthistPost_field{
    width: 270px;
    font-size: 15px;
    margin: 0 auto 35px;
  }

  .arthist_btn{
    width: 270px;
    margin: 0 auto;
    font-size: 13px;
    padding: 5px 0;
  }

}






//*edit*

.arthistEdit_inner{
  position: relative;
}

.arthistEdit_modal{
  display: flex;
  width: 900px;
  position: absolute;
  top: 160px;
  left: 48%;
  transform: translate(-50%, 0);
}

.arthistEdit_image{
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.arthistEdit_image:hover{
  transition: 0.3s;
  opacity: 0.5;
}

.arthistEdit_image_wrapper{
  position: relative;
}

.arthistEdit_fontImage{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e0e0ec;
}

.arthistEdit_contents{
  margin-top: 20px;
  margin-left: 40px;
}

.arthistEdit_field{
  width: 350px;
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 20px;
}

.arthistEdit_btn{
  width: 100%;
  height: 35px;
  margin-top: 10px;
}

.arthistUpload_inner h1{
  margin-top: 135px;
  text-align: center;
}

.arthistUpload_modal{
  margin-top: 100px;
  height: 100px;
  text-align: center;
}



//**debut**

//*index*

.debutArthists_inner h1{
  margin-top: 135px;
  text-align: center;
}

.debutArthists_items{
  margin-bottom: 100px;
}

.debutArthists_item{
  text-align: center;
  margin-top: 80px;
}

.debutArthists_image:hover{
  transition: 0.3s;
  cursor: pointer;
  opacity: 0.5;
}


//*update*

#debut{
  margin-top: 10px;
  text-align: center;
}

.undebut_btn{
  display: inline-block;
  width: 210px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  font-size: 23px;
  color: white;
  background-color: #444444;
  text-decoration: none;
}

.debut_btn{
  display: inline-block;
  width: 210px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  font-size: 23px;
  color: #444444;
  background-color: white;
  border: 1px solid #444444;
  text-decoration: none;
}

//*update_mobile*
@media (max-width: 670px){
  .undebut_btn{
    width: 150px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
  }

  .debut_btn{
    width: 150px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
  }
}






//**sings**

.sings_inner h1{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
}

.sings_items{
  width: 1300px;
  margin: 0 auto 100px;
}

.sings_item{
  display: inline-block;
  vertical-align: top;
  margin: 0 auto 80px 100px;
}

.sings_details{
  width: 500px;
  height: 110px;
  display: flex;
  align-items: center;
}

.sings_singName_wrapper{
  width: 240px;
  text-align: right;
}

.sings_singName{
  display: inline-block;
  text-align: left;
  font-size: 18px;
  word-break: break-all;
}

.sings_arthistName_wrapper{
  width: 230px;
  margin-left: 5px;
  word-wrap: break-word;
}

.video_wrapper{
  position: relative;
}

iframe{
  width: 500px;
  height: 300px;
}

.like{
  text-align: right;
  padding-right: 20px;
}

.sings_delete{
  position: absolute;
  top: 311px;
  left: 0;
}


//*sings_mobile*

@media (max-width: 670px){
  .sings_inner h1{
    margin-top: 150px;
    margin-bottom: 50px;
  }

  .sings_items{
    width: 85%;
    margin: 0 auto 30px;
  }

  .sings_item{
    width: 100%;
    margin: 0 auto 80px;
  }

  .sings_details{
    width: 100%;
    height: 80px;
    margin: 0 auto;
  }

  .sings_singName_wrapper{
    width: 55%;
  }

  .sings_singName{
    font-size: 13px;
  }

  .sings_arthistName_wrapper{
    font-size: 12px;
    width: 45%;
    margin-left: 2%;
  }

  .video_wrapper{
    text-align: center;
  }

  iframe{
    width: 100%;
    height: 200px;
  }

  .like{
    position: absolute;
    top: 210px;
    right: 0%;
  }

  .sings_delete{
    font-size: 12px;
    top: 210px;
    left: 0%;
  }

}
