/*
 *= require_tree .
 *= require_self
 */

 //**全体**

body{
 margin: 0;
}

li{
 list-style: none;
}

.body_container{
 margin-top: 60px;
}

.link{
  text-decoration: none;
}

.link:hover{
  transition: 0.3s;
  cursor: pointer;
  opacity: 0.5;
}


//**header**

.header_container{
 background-color: black;
 height: 60px;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 z-index: 100;
}

.header_inner{
  display: flex;
}

.header_inner ul{
  line-height: 60px;
}

.header_inner li{
  display: inline-block;
  margin-right: 20px;
}

.header_left{
  margin: 0 0 auto 20px;
}

.Top{
  font-size: 25px;
}

.header_center{
  margin: 0 0 auto 30px;
}

.header_right{
  margin: 0 70px auto auto;
}

.header_link{
  color: white;
}
